body {
    width: 95vw;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

h2 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

#social-media-links img {
    width: 5.5vw;   /* Set the desired width */
    height: 3.5vh;
}

/*#social-media-links {*/
/*    display: inline-block;*/
/*}*/

/*footer>p {*/
/*    display: inline-block;*/
/*}*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden-on-desktop {
    text-align: center;
    background-color: #d6fefe;
    padding: 1em;
    border: 2px solid lightgray;
}

.hidden-on-desktop a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header-img>img {
    width: 100%;
}

ul>li {
    background-color: lightgray;
    width: calc(100% - 2em);
    padding: 1em;
    margin: .5em auto;
    text-align: center;
}

section:nth-of-type(2) h2 {
    font-style: italic;
}

section:nth-of-type(2) p {
    font-style: italic;
}

